<ion-content mode="ios">
    <!--historias-->
    <ion-grid>
        <ion-row>
            <ion-col size-md="8" offset-md="2">
                <app-historias></app-historias>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <!--posts-->
    <ion-grid>
        <ion-row *ngFor="let post of posts; let idPost = index;">
            <ion-col  size-md="8" offset-md="2">
                <ion-card>
                    <ion-card-header>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="10">
                                    <div class="usuario-card-header">    
                                        <ion-avatar>
                                            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" width="50px">
                                        </ion-avatar>
                                        <ion-label class="label">{{post.usuario}}</ion-label>
                                    </div>
                                    </ion-col>
                                    
                                <ion-col size="2">
                                    
                                    <ion-button (click)="borrar(idPost)">
                                        Borrar
                                    </ion-button>

                                    <ion-button (click)="editar()">
                                        Editar
                                    </ion-button>
                                    
                                    <ion-button fill="translucent" id="trigger-popup--{{post.id}}" class="trigger"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-button>
                                    <ion-popover trigger="trigger-popup--{{post.id}}">
                                        <ng-template>
                                            <app-popover></app-popover>
                                        </ng-template>
                                    </ion-popover>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <div class="editar" *ngIf="editando">
                                    <ion-input placeholder="Editar caption: Ejemplo: Hola, mundo" [(ngModel)]="post.caption"></ion-input>
                                    {{post.caption}}
                                    <ion-button (click)="guardar(idPost, post)">Guardar Cambios</ion-button>
                                </div>
                            </ion-row>
                        </ion-grid>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-img [src]="post.imagen" [routerLink]="['/publicacion', post.id]"></ion-img>
                       
                        
                        <div class="opciones">
                            <ion-button fill="translucent"><ion-icon name="heart-outline"></ion-icon></ion-button>
                            <ion-button fill="translucent"><ion-icon name="paper-plane-outline"></ion-icon></ion-button>
                            <ion-button fill="translucent"><ion-icon name="chatbubble-outline"></ion-icon></ion-button>
                            <ion-button class="derecha" fill="translucent"><ion-icon name="bookmark"></ion-icon></ion-button>
                        </div>
                        <p class="caption">{{post.caption}}</p>
                    </ion-card-content>
                    
                </ion-card>
                
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>