<ion-content>
  <router-outlet></router-outlet>

  <ion-header class="top">
    <ion-toolbar>
      <ion-title>
        <p>Hola, Instagram</p>
        <a routerLink="/perfil">Ir al Perfil</a>
  <a routerLink="/feed">Ir al Feed</a>
      </ion-title>
    </ion-toolbar>
  </ion-header>
    <span *ngIf="perfil">Vista feed</span>
    <span *ngIf="!perfil">Vista Perfil</span>


  
</ion-content>

<!--


<p>{{title}}</p>

<p *ngIf="esCierto">Hello, world</p>

<div *ngFor="let imagen of imagenes">
  imagen
  <img src="assets/perrillo.jpeg" alt="" width="250px">
</div>

<div *ngFor="let perrillo of perrillos">
  <p>{{perrillo.nombre}}</p>
  <img src="{{perrillo.src}}" alt="">
</div>

-->