<ion-grid>
    <ion-row class="historias-container">
        <ion-col size="2">
            <ion-avatar>
                <ion-img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" id="foto-usuario"></ion-img>
                <ion-modal trigger="foto-usuario" fullscreen="true" class="fullscreen-modal">
                    <ng-template>
                        <app-historia-contenido></app-historia-contenido>
                    </ng-template>
                </ion-modal>
            </ion-avatar>
        </ion-col>
    </ion-row>
</ion-grid>

